# general
.DS_Store
.idea
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# node
node_modules
# pnpm
pnpm-lock.yaml
# docker
docker-compose.yml
# logs
logs
dist 
# next
.next
# prisma
prisma/migrations
# python
__pycache__